antlr4-python3-runtime
anyio
aplus
appdirs
astropy
asttokens
backcall
black
blake3
bqplot
branca
cachetools
charset-normalizer
click
cloudpickle
comm
contourpy
cycler
dask
debugpy
decorator
docker-pycreds
exceptiongroup
executing
filelock
fonttools
frozendict
fsspec
fst-pso
future
FuzzyTM
gensim
gitdb
GitPython
h11
h5py
httptools
huggingface-hub
hydra-core
idna
iniconfig
ipydatawidgets
ipykernel
ipyleaflet
ipympl
ipython
ipython-genutils
ipyvolume
ipyvue
ipyvuetify
ipywebrtc
ipywidgets
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
llvmlite
locket
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
miniful
mypy-extensions
nest-asyncio
numba
numpy
omegaconf
packaging
pandas
parso
partd
pathspec
pathtools
pexpect
pickleshare
Pillow
platformdirs
pluggy
progressbar2
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pydantic
pyerfa
pyFUME
Pygments
pyparsing
pytest
python-dateutil
python-dotenv
python-utils
pythreejs
pytz
PyYAML
pyzmq
regex
requests
rich
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
simpful
six
smart-open
smmap
sniffio
stack-data
starlette
tabulate
threadpoolctl
tokenizers
tomli
toolz
torch
tornado
tqdm
traitlets
traittypes
transformers
urllib3
uvicorn
uvloop
vaex
vaex-astro
vaex-core
vaex-hdf5
vaex-jupyter
vaex-ml
vaex-server
vaex-viz
wandb
watchfiles
wcwidth
websockets
widgetsnbextension
xarray
xyzservices

